<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-scroll-affix</title>
    <link rel="stylesheet" href="build/index.css">
</head>
<body>
    <div id="app" class="container">
        <div class="main">
            <div class="section1">section1</div>
            <div class="section2">section2</div>
            <div class="section3">section3</div>
            <div class="section4">section4</div>
        </div>
        <div v-for="i of 4" :key="i" :class="'right-menu-' + i">
            <v-scroll-affix :offset-top="20" :section-selector="'.main .section' + i" class="affix-bar">
                <ul>
                    <li v-for="c in 5" :key="c">list {{ i }}</li>
                </ul>
            </v-scroll-affix>
        </div>
        <div class="right-menu-5">
            <v-scroll-affix :offset-top="20" class="affix-bar">
                <ul>
                    <li v-for="c in 5" :key="c">no limit</li>
                </ul>
            </v-scroll-affix>
        </div>
    </div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-scroll-affix@0.0.1/dist/v-scroll-affix.js"></script>
    <script src="build/index.js"></script>
</body>
</html>
