.mini-mvvm-root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin: 60px auto;
    padding: 20px;
    width: 500px;
    box-sizing: border-box;
    box-shadow: 0 3px 16px 4px #ddd;
}
.mini-mvvm-root > h2 {
    margin: 0 0 10px;
    padding: 0 0 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.mini-mvvm-root > h2 a {
    color: #2ad;
}
.mini-mvvm-root button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 6px 12px;
    border-radius: 3px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 700;
    border: 1px solid #ddd;
    height: 30px;
    outline: none;
    box-sizing: border-box;
    vertical-align: top;
}
.mini-mvvm-root button:hover {
    background-color: #449d44;
    border-color: #398439;
}
.mini-mvvm-root button:active {
    background-color: #398439;
    border-color: #255625;
}
.mini-mvvm-root .input-box {
    box-sizing: border-box;
    padding: 6px 0;
    display: flex;
}
.mini-mvvm-root .input-box input {
    flex: 1;
    transition: 0.3s;
    padding: 0 6px;
    border-radius: 3px;
    border: 1px solid #ddd;
    height: 30px;
    outline: none;
    box-sizing: border-box;
}
.mini-mvvm-root .input-box input:focus {
    border-color: transparent;
    box-shadow: 0 0 6px 1px #4cae4c;
}
.mini-mvvm-root .list-tab {
    display: flex;
    border-bottom: 1px dashed #ddd;
}
.mini-mvvm-root .list-tab .tab {
    flex: 1;
    cursor: pointer;
    color: #999;
    font-size: 16px;
    line-height: 36px;
    padding-left: 6px;
    text-align: center;
}
.mini-mvvm-root .list-tab .tab + .tab {
    border-left: 1px dashed #ddd;
}
.mini-mvvm-root .list-tab .tab.active {
    color: #2ad;
}
.mini-mvvm-root .item-list {
    margin: 0;
    padding: 0;
}
.mini-mvvm-root .item-list > li {
    display: flex;
    margin: 0;
}
.mini-mvvm-root .item-list > li .text {
    margin: 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 6px;
    list-style: none;
    border-bottom: 1px dashed #ddd;
    cursor: pointer;
    flex: 1;
}
.mini-mvvm-root .item-list > li .del {
    color: #2ad;
    width: 60px;
    line-height: 40px;
    text-align: center;
    border: 1px dashed #ddd;
    border-width: 0 0 1px 1px;
    cursor: pointer;
}
.mini-mvvm-root .item-list > li.done .text {
    text-decoration: line-through;
    color: #f00;
}

.mini-mvvm-root {
    width: 680px;
}
.mini-mvvm-root .list {
    margin: 0;
    padding: 0;
}
.mini-mvvm-root .list .list-item {
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0 60px;
}
.mini-mvvm-root .list .list-item .label {
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
}
.mini-mvvm-root .list .list-item input[type='text'],
.mini-mvvm-root .list .list-item input[type='number'] {
    flex: 1;
    transition: 0.3s;
    padding: 0 6px;
    border-radius: 3px;
    border: 1px solid #ddd;
    height: 30px;
    outline: none;
    box-sizing: border-box;
}
.mini-mvvm-root .list .list-item input[type='text']:focus,
.mini-mvvm-root .list .list-item input[type='number']:focus {
    border-color: transparent;
    box-shadow: 0 0 6px 1px #4cae4c;
}
.mini-mvvm-root .for-table {
    border-collapse: collapse;
}
.mini-mvvm-root .for-table td {
    border: 1px solid #2ad;
    cursor: pointer;
    padding: 2px;
}
.mini-mvvm-root .for-table td:hover {
    background: #2ad;
    color: #fff;
}

.mini-mvvm-root .tab-page .page-item.todo-list {
    width: 400px;
    margin: 20px auto 0;
    border: 1px solid #ddd;
    padding: 20px;
    border-width: 0 1px;
}

label {
    cursor: pointer;
}
